<!DOCTYPE html>
<html lang="en"
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <title> {{title}} </title>
    <link rel="stylesheet" href="/css/style.css" media="all">
    <link rel="stylesheet" href="/css/mobile.css" media="(max-width: 650px)">
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
    {% block content %} {# Render custom HTML content #}
      {{ content | safe }} {# Render markdown #}
    {% endblock %} 
    </main>
    <footer></footer>
  </body>
</html>
