{% extends 'base.njk' %}

{% block main %}
  <article style="margin-bottom: 9em;">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </article>
  {% set tocItems = content | toc %}
  {% if tocItems %}
    <div class="toc-wrap">
      <aside class="toc" aria-label="Table of contents">
        <h2>On this page</h2>
        {{ tocItems | safe }}
      </aside>
    </div>
  {% endif %}
{% endblock %}
