<header>
  <div id="logo" class="font-sans-serif">KY|MIND</div>
  <nav>
    <ul class="font-sans-serif">
      <li><a href="/"> Home </a></li>
      <li><a href="/blogs"> Blogs </a></li>
      <li><a href="/scribbles"> Scribbles </a></li>
    </ul>
  </nav>
</header>
