{% extends 'base.njk' %}

{% set title = "KY|MIND - Blogs" %}
{% set description = "Writing about thoughts, learning process, and experience on becoming a decent human by building software for benefits of all" %}

{% block content %}

<h1> Blogs </h1>
{%- for blog in collections.blog | reverse -%}
  <ul id="blogs" class="no-style">
    <li>
      <a class="bold" href="{{ blog.page.url }}">{{ blog.data.title }}</a>
      <div style="margin-top: 3pt">{{ blog.data.date | date }}</div>
    </li>
  </ul>
{%- endfor -%}

{% endblock %}
